*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft Sans Serif";
}

a{
    text-decoration: none;
}

.home-content{
    width: 100%;
    height: 1037px;
    background: linear-gradient(#5794d1, #dce7f5 50%, #dce7f5)
}

.content{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
/*LOGO*/
.content-logo{
    width: 100%;
    height: 113px;
    position: relative;
    background: red;
}

.content-logo .logo-right{
    width: 180px;
    height: 113px;
    position: absolute;
    top:0;
    right: 20px;
}

.content-logo .logo-right .logo-right-content{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
}

/*导航栏*/
.content-nav{
    width: 100%;
    height: 40px;
}

.content-nav .nav-detail{
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.content-nav .nav-detail ul{
    width: 100%;
    height: 100%;
    list-style-type:none;
}

.content-nav .nav-detail .nav-detail-item{
    float: left;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 20px;
}

.content-nav .nav-detail .nav-detail-item a{
    font-size: 16px;
    color: #ffffff;
}

.content-nav .nav-detail .nav-detail-item a:hover{
    color: #dae6f4;
    font-size: 17px;
}


/*banner*/
.content-banner{
    width: 100%;
    height: 370px;
}

.content-banner .banner-image{
    margin: 10px 0;
    height: 370px;
    box-shadow: -1px 0 0 1px #bbc6d2;
}

.content-banner .banner-image img{
    width: 1000px;
    height: 370px;
}

/*主体内容*/
.content-body{
    width: 100%;
    height: 360px;
    margin-top: 27px;
    margin-bottom: 27px;
}

.content-body .body-item{
    width: 100%;
    height:170px;
    margin-bottom: 20px;
}

.content-body .body-item .content-item{
    width: 298px;
    height: 168px;
    border: 1px solid #99d9ea;
    float: left;
    cursor: pointer;
}

.content-body .body-item .item-middle{
    margin-left: 46px;
    margin-right: 46px;
}

.content-body .body-item .content-item .item-title{
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}
.content-body .body-item .content-item .item-content{
    width: 100%;
    height:124px;
}

.content-body .body-item .content-item .item-image{
    width: 106px;
    height: 106px;
    margin:10px 10px;
    float: left;
}

.content-body .body-item .content-item .item-image img{
    width: 106px;
    height: 106px;
}

.content-body .body-item .content-item .item-description{
    font-size: 14px;
}
.content-body .body-item .content-item .item-detail-image{
    width: 20px;
    height: 20px;
    float: right;
}

/*页尾*/
.content-footer{
    width: 100%;
    height: 100px;
    font-size: 14px;
    color: #5794d1;
    border-top: 1px gray solid;
}
.content-footer p{
    width: 100%;
    height:100px;
    line-height: 100px;
    text-align: center;
}